.center {
  display: flex;
  flex-direction: column;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirect {
  display: flex;
}
.redirect:hover {
  color: burlywood;
  cursor: pointer;
}
.redirect:hover .volver {
  background-color: burlywood;
}
.redirect-text {
  margin-left: 5px;
}

.redirect-text:active {
  transform: translateY(0.5rem);
}
