a:hover {
  text-decoration: none;
  color: burlywood;
}
.nav-div {
  background-color: #393d3f;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.navbar-item {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: gray;
  text-decoration: none;
  background-color: transparent;
}

.navbar-item__rigth-side {
  font-family: "Roboto", sans-serif;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgb(166 161 192);
  text-decoration: none;
  background-color: transparent;
}
.nav-div__rigth-side {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.active {
  color: white;
}
.navbar-item__rigth-side:hover {
  text-decoration: none;
  color: burlywood;
}
.navbar-item__rigth-side svg:hover {
  fill: burlywood;
}

.cart-nav-enabled {
  background-color: rgb(166 161 192);
  mask: url(../../img/cart-arrow-down-solid.svg) no-repeat center;
  height: 25px;
  width: 25px;
}

.cart:hover {
  background-color: burlywood;
}
.cart-nav-disabled {
  position: relative;
  background-color: rgb(166 161 192);
  mask: url(../../img/cart-shopping-solid.svg) no-repeat center;
  width: 40px;
  height: 40px;
}

.relative {
  position: relative;
}

@media screen and (max-width: 425px) {
  .navbar {
    justify-content: center;
  }
}
