* {
  justify-content: none;
}

.navbar {
  background-color: #393d3f;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: none !important;
  padding: 0.5rem 1rem;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start !important;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1rem;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.log {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end !important;
  /* border: 1px solid red; */
  gap: 1rem;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgb(238, 240, 164) !important;
  text-decoration: none;
  background-color: transparent;
}

@media screen and (max-width: 425px) {
  .navbar {
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    /* -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; */
    /* justify-content: flex-end; */
  }
}

@media (min-width: 768px) {
  .navbar {
    gap: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .navbar {
    gap: 12rem;
  }
}

@media (min-width: 1440px) {
  .navbar {
    gap: 20rem;
  }
}
