/*FOOTER*/
.footer-basic {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic footer {
  position: absolute;
  bottom: 0;
  padding: 2rem;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
