
a:hover{
  text-decoration: none;
  color: burlywood;
}
.nav-div {
  background-color: #393d3f;
  position: relative;
  align-items: center;
  padding: 0.5rem 1rem;

}

.navbar-item {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: gray;
  text-decoration: none;
  background-color: transparent;
}

.navbar-active {
color:white;
}

@media screen and (max-width: 425px) {
  .navbar {
    justify-content: center;
  }
}
