.navbar {
  background-color: #393d3f;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1rem;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgb(238, 240, 164) !important;
  text-decoration: none;
  background-color: transparent;
}

@media screen and (max-width: 425px) {
  .navbar {
    justify-content: center;
  }
}
