:root {
  /* VARIABLES GLOBALES FUENTE */
  font-size: 14px;
  --baseFont: normal 0.875rem/1.375rem Arial;
  --baseFontBold: bold 0.875rem/1.375rem Arial;
}

* {
  transition: all 0.3s ease-out;
}

.mobileCard {
  border: 1px solid #e9e9e9;
  position: relative;
  padding: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  /* transition: 0.3s background; */
}

.mobileCard:hover,
.mobileCard:focus-within {
  transition: all 0.3s ease-out;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
}

.mobileCard-img img {
  vertical-align: middle;
  /* Ajustamos la imagen para posibles resizes */
  inline-size: 100%;
  block-size: auto;
}

.mobileCard-img {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  margin-block-end: 1rem;
}

.mobileCard-title {
  font: var(--baseFontBold);
  color: #282828;
  margin: 0;
}

.mobileCard-description {
  font: var(--baseFont);
  margin: 0;
}

.mobileCard-link {
  text-decoration: none !important;
}
.elipsis {
  overflow: hidden;
}

.favorite-icon {
  width: 25px;
  
}

.favorite-container__enabled{
background-color: lightgoldenrodyellow;
}

/*PARA LOS TRES PUNTOS SUSPENSIVOS*/
.elipsis > * {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*MEDIA*/
@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 18px;
  }
}
